@use "/src/theme/funtions" as func;
@use "/src//theme/componentes/varthemes.scss" as vars;

.contenedor-gridFooter{
   background: vars.$background4;
   border-radius: 0px 0px 15px 50px;
   margin: 5%;
   box-shadow: vars.$sombra1;
   color: vars.$colorTextos3;
   
 @include func.grid(2,1fr,0px,2);
 @include func.responsive(md){
   .wave-footer{
      top: -25px;
      margin-left:60%;
      position: relative;
   }
    margin: 1%;
 }
  
   ion-icon{
       font-size: 28px;
   }
   .grid-item{
       &1{
         @include func.flexbox(flex,row,nowrap,space-evenly,baseline);
        @include func.responsive(sm){margin-top: 5%;  font-size: 16px;}
        @include func.gridItem(1,1,1,1);
       
        margin-top: 2%;
        font-size: 22px;        
     }
     &2{
        @include func.responsive(sm){margin-top: 5%;  font-size: 12px;}
        @include func.flexbox(flex,row,nowrap,space-evenly,baseline);
        margin-top: 2%;
        font-size: 22px;     
     }
    
     &3{
        @include func.flexbox(flex,row,nowrap,space-evenly,baseline);
     }
     &4{
        @include func.flexbox(flex,row,nowrap,space-evenly,baseline);
     }
     
   }
   
}

.content-footer{

   
       width: 100%;
       background-color: vars.$background4;
       height: 250px;
}
.wave-footer{
  
   @include func.responsive(sm){
    
      position: relative;
      top: -25px;
 }

   left: 0;
   height: 100px;
   width: 100%;
   background-image: url(../../../../assets/imagenes/waveArriba.svg);
   background-repeat: repeat-x;
   transform: rotate(180deg);
   
}

.footer-logo{
   @include func.responsive(sm){
    
     
      margin-left: 64%;
 }
   background-position: center;
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   margin-left: 74%;
   top: 100px;
   z-index: 2;
   background-size: cover;
   background-image: url(../../../../assets/imagenes/logoZigma.jpg);
}

.redes{
 
 justify-content: center;
   height: 70px;
   width: 100%;
   display: flex;
   ion-icon {
      font-size: 4rem;
      cursor: pointer;
   }
}

