@use "/src/theme/funtions" as func;
@use "/src//theme/componentes/varthemes.scss" as vars;

.contenedor-gridFooter {
   background: vars.$background4;
   border-radius: 0px 0px 15px 50px;
   margin: 5%;
   box-shadow: vars.$sombra1;
   color: vars.$colorTextos3;
   
   @include func.grid(2,1fr,0px,2);
   
   @include func.responsive(md) {
      margin: 1%;
      
      .wave-footer {
         top: -25px;
         margin-left: 60%;
         position: relative;
      }
   }
  
   ion-icon {
      font-size: 28px;
   }
   
   .grid-item1 {
      @include func.flexbox(flex,row,nowrap,space-evenly,baseline);
      @include func.gridItem(1,1,1,1);
      margin-top: 2%;
      font-size: 22px;
      
      @include func.responsive(sm) {
         margin-top: 5%;  
         font-size: 16px;
      }
   }
   
   .grid-item2 {
      @include func.flexbox(flex,row,nowrap,space-evenly,baseline);
      margin-top: 2%;
      font-size: 22px;
      
      @include func.responsive(sm) {
         margin-top: 5%;  
         font-size: 12px;
      }
   }
   
   .grid-item3 {
      @include func.flexbox(flex,row,nowrap,space-evenly,baseline);
   }
   
   .grid-item4 {
      @include func.flexbox(flex,row,nowrap,space-evenly,baseline);
   }
}

.content-footer {
   position: relative;
   width: 100%;
   background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
   padding: 20px 0;
   height: 250px;
   
   .wave-footer {
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 50px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"><path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" fill="%23ffffff"></path></svg>') repeat-x;
      background-size: 1200px 120px;
   }

   ion-grid {
      position: relative;
      z-index: 1;

      ion-row {
         justify-content: center;

         ion-col {
            text-align: center;

            .redes {
               display: flex;
               justify-content: center;
               gap: 20px;
               margin-top: 10px;

               ion-icon {
                  font-size: 28px;
                  cursor: pointer;
                  transition: all 0.3s ease;
                  color: #ffffff;

                  &:hover {
                     transform: scale(1.2);
                     filter: brightness(1.2);
                  }

                  &[name="logo-facebook"] {
                     color: #1877f2;
                  }

                  &[name="logo-instagram"] {
                     background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                     -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;
                     background-clip: text;
                  }

                  &[name="logo-whatsapp"] {
                     color: #25d366;
                  }
               }
            }
         }
      }
   }
}

.wave-footer {
   left: 0;
   height: 100px;
   width: 100%;
   background-image: url(../../../../assets/imagenes/waveArriba.svg);
   background-repeat: repeat-x;
   transform: rotate(180deg);
   
   @include func.responsive(sm) {
      position: relative;
      top: -25px;
   }
}

.footer-logo {
   width: 100%;
   height: auto;
}

.redes {
   justify-content: center;
   height: 70px;
   width: 100%;
   display: flex;
   
   ion-icon {
      font-size: 4rem;
      cursor: pointer;
   }
}

