@import "/src/theme/funtions";
@import "/src//theme/componentes/varthemes.scss";

.contenedor-gridFooter{
 @include grid(2,1fr,0px,2);
 @include responsive(md){
    margin: 1%;
 }
   background: $background3;
   border-radius: 0px 0px 15px 50px;
   margin: 5%;

   box-shadow: $sombra1;
   color: $colorTextos3;
  
   ion-icon{
       font-size: 28px;
   }
   .grid-item{
       &1{
         @include flexbox(flex,row,nowrap,space-evenly,baseline);
        @include responsive(sm){margin-top: 5%;  font-size: 16px;}
        @include gridItem(1,1,1,1);
       
        margin-top: 2%;
        font-size: 22px;        
     }
     &2{
        @include responsive(sm){margin-top: 5%;  font-size: 12px;}
        @include flexbox(flex,row,nowrap,space-evenly,baseline);
        margin-top: 2%;
        font-size: 22px;     
     }
    
     &3{
        @include flexbox(flex,row,nowrap,space-evenly,baseline);
     }
     &4{
        @include flexbox(flex,row,nowrap,space-evenly,baseline);
     }
     
   }
   
}

