

          <div class="card">
            <div class="card-img">
              <img [src]="product.ulrProduct" [alt]="'Imagen de ' + (product.name || 'producto')">  
            </div>
            <ul class="social-media">
            <li> <ion-icon name="arrow-redo-outline"></ion-icon></li>
          <li><ion-icon slot="start" name="add"></ion-icon></li>
        <li> <ion-icon name="eye"></ion-icon></li>
    </ul>
    <div class="card-info">
      <p class="title">{{product.name}}</p>
      <p class="subtitle">{{product.price_cop}}</p>
    </div>
  </div>