<ion-content>
    <div class="contenedor-grid">
        <div class="item5">
            <app-header  [menuId]="menuId"></app-header>
    
        </div>
      
        <div class="item1">
            1
        </div>
        <div class="item2">
           
        </div>
     
        
        <div class="item4">
            <app-card-padre></app-card-padre>
          
            
        </div>
    </div>
    <app-footer></app-footer>
</ion-content>

<!-- <app-card-products></app-card-products> -->
