
@use "/src/theme/componentes/varthemes.scss" as vars;

.menu-header-bg{
    height: 180px;
    width: 350px;
    background: vars.$background3;
    box-shadow: vars.$sombra1;
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 14px;
   }

    h2{
        font-weight: 300;
        color: vars.$colorTextos3
    }

    p{
        font-size: 12px;
        color: #e4e4e4;
        font-weight: 100px;
        letter-spacing: 0.4px;
    }

}

    .action-button{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        ion-button{
            text-transform: capitalize;
            font-weight: 300;
            --background:#628cff;
            --border-raius:7px;
            --box-shadow:none;
        }

        ion-icon{
            margin-right: 1px;
        }
    }

    .menu-items{
        margin: 0px;

        ion-icon{
            margin-left: 16%;
            color: #86979f;
        }
    }

    .active{
        border-left: 5px solid;
        color: #628cff;
        padding-left: 15px;
        
        ion-icon{
            color: #628cff;
        }
    }


.lenguage{
    width: 40%;
    margin-left: 50%;
}
@media screen and (max-width: 800px) {
    .lenguage{
        width: 35%;
        margin-left: 60%;
    }
  }

  @media screen and (max-width:300px) {
    .lenguage{
        width: 35%;
        margin-left: 40%;
    }
  }
 