@use "/src/theme/_funtions.scss" as func;
@use "/src/theme/componentes/varthemes.scss" as vars;

.contenedorGrid{
    background: white;
    
    @include func.responsive(sm){@include func.grid(1,1fr,20px,2);};
    @include func.responsive(md){@include func.grid(2,1fr,20px,2);};
    @include func.responsive(lg){@include func.grid(2,1fr,20px,2);};
}