<ion-content>
  <app-header [menuId]="menuId"></app-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom,top">
      <ion-tab-button tab="registro">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Registro</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="login">
        <ion-icon name="people-sharp"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="cerrarSession">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>cerrarSession</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

