/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use "/src/theme/_funtions.scss" as func;
@use "/src/theme/componentes/varthemes.scss" as vars;
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.button-primary{
    background: rgb(52, 51, 53);
    background: var(--button-colors);
    color: white;
    
    transition: all 150ms ease-in-out 0s;
    font-weight: bold;
    width: 40%;
    opacity: 1;
}

.button-primary :hover{ 
  
    background: rgb(52, 51, 53)
}


.content-cards{
    position: relative;
    width: 100%;
    background-color: vars.$azulZimaColor;
  }
  
  .wave-abajo{
    position: absolute;
    bottom: -14px;
    left: 0;
    height: 100px;
    width: 100%;
    background-image: url(assets/imagenes/waveArriba.svg);
    background-repeat: repeat-x;
  
    animation: wave 20s linear infinite;
  }
  
  .wave{
    position: absolute;
    top: -14px;
    left: 0;
    height: 100px;
    width: 100%;
    background-image: url(assets/imagenes/waveArriba.svg);
    background-repeat: repeat-x;
    transform: rotate(180deg);
    animation: wave 20s linear infinite;
  }

  @keyframes wave {
    0%{
     background-position-x: 0;
    }
    100%{
     background-position-x: 1000px; ;
    }
 }